.banner-area{
	margin-top:50px;
}
.margin-top{
	margin-top:20px;
}

.single-banner{
	
}
.single-banner a{
	display:block;
	position:relative;
	overflow: hidden;
	width: 100%;
	
}

.single-banner a::before{
	background:rgba(0,0,0,0.3) no-repeat scroll 0 0;
	content:"";
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	transition: 0.5s;
	transform:scaleX(0);

}
.single-banner a:hover::before{
	transform:scaleX(1);
}

.single-banner a::after{
	background:rgba(255,255,255, 0.3) no-repeat scroll 0 0;
	 border-radius:100%;
	 box-shadow: 0 0 0 8px rgba(246, 249, 250, 0.42);
	 height: 60px;
	 width:60px;
	 content:"";
	 font-family: FontAwesome;
	 color: #fff;
	 font-size: 30px;
	 text-align: center;
	 line-height: 60px;
	 margin: auto;
	 display:block;
	 position:absolute;
	 left:0;
	 top:0;
	 right:0;
	 bottom:0;
	 transform: scale(3);
	 transition: all 0.5s ease 0s;
	 visibility:hidden;
	 opacity: 0;
	 z-index: 2
 
}
.single-banner a:hover::after{
	opacity:1;
	transform:scale(1);
	visibility:visible;
}

.single-banner a{}
.single-banner a{}
.single-banner a img{}
.banner-top-4{margin-top:20px}
